@{
    ViewData["Title"] = "Landing Page";
}

@model List<Accident>


<div class="text-center">
    <h1 class="display-4">Data. Analysis. Insights.</h1>
    <p class="align-self-start border-light blockquote" >A Deep Exploration of Utah Crashes</p>
</div>

<div class="btn btn-primary">
    <a class="text-white" asp-controller="Home" asp-action="SummaryData">Summary Data</a>
</div>

<div>
    <p>Almost daily, crashes occur all over Utah. Some are due to wrong-way triffic, others to distracted driving. All
    leave their mark on the economy, families, and individuals.</p><br />
    <p>Our mission is to analyse the data from over 200,000 traffic incidents from 2016, 2017, and 2019 and create a website
    which will allow users to view all available information about each accident, as well as understand the factors that 
    most contribute to accidents in Utah.</p><br />

    <div>
        <img src="~/imgs/Crashes.png" />
    </div>

</div>

