@{
    ViewData["Title"] = "Landing Page";
}

@model List<Accident>


<h2>This is our landing page</h2>

<div class="btn btn-primary">
    <a class="text-white" asp-controller="Home" asp-action="SummaryData">Summary Data</a>
</div>
