@{
    ViewData["Title"] = "Insights";
}
<!doctype html>
<html lang="en">
<body>

    <div class="align-content-center text-center">

        <h1 class="text-decoration-underline fw-bold">
            Analytics and Insights
        </h1>
        <br /><br />

        <div>
            <h2 class="fst-italic">Time Analysis</h2>
            <img src="~/imgs/CRASHESOVERTIME2.png" width="750" />
        </div>

        <br /><br /><br /> <br />


        <div>
            <h2 class="fst-italic">Common Crash Causes</h2>
            <img src="~/imgs/total_crashes.png" width="750" />
            <h5></h5>
        </div>


        <br /><br /><br /> <br />

        <div>
            <h2 class="fst-italic">Crashes by Cities</h2>
            <img src="~/imgs/crashesbycities.png" width="750" />
            <h5></h5>
        </div>


        <br /><br /><br /> <br /><br />

        <div>
            <h2 class="fst-italic">Crashes by County per Capita</h2>
            <img src="~/imgs/Crashespercapita.png" width="750" />
        </div>
        <br />

    </div>

</body>


</html>