@{
    ViewData["Title"] = "Summary Data";
}

@model IndexViewModel

@*Specific stylesheet for pagination*@
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">



<div>
    <div class="text-bold text-center">
        <h2>Utah Vehicle Accident Data</h2>
    </div>

    <div class="btn btn-primary">
        <a class="text-white">Filter by County</a>
    </div>
    <div class="btn btn-primary">
        <a class="text-white">Filter by City</a>
    </div>
    <div class="btn btn-primary">
        <a class="text-white">Filter by Main Road</a>
    </div>
    <div class="btn btn-primary">
        <a class="text-white">Filter by Crash Severity</a>
    </div>

    @*<form method="post">
            <label asp-for="Accidents.FirstOrDefault(x => x.CRASH_ID == id)">Search by Crash ID:</label>
            <input asp-for="CRASH_ID" />

            <button type="submit" class="btn btn-success btn-sm-float-end" asp-controller="Home" asp-action="filterview">Filter by Crash ID</button>
        </form>*@


</div>

<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr class="text-center fw-bold align-items-md-center">
            <td>Crash ID</td>
            <td>Date & Time</td>
            <td>Route</td>
            <td>Milepoint</td>
            <td>Latitutde</td>
            <td>Longitude</td>
            <td>Main Road</td>
            <td>City</td>
            <td>County</td>
            <td>Crash Severity (1-5)</td>
            <td>Work Zone Related?</td>
            <td>Pedestrian Involved?</td>
            <td>Bicyclist Involved?</td>
            <td>Motorcycle Involved?</td>
            <td>Improper Restraint?</td>
            <td>Unrestrained?</td>
            <td>DUI?</td>
            <td>Intersection Related?</td>
            <td>Wild Animal?</td>
            <td>Domestic Animal?</td>
            <td>Overturn/Rollover?</td>
            <td>Commercial Vehicle Involved?</td>
            <td>Teenager Driver Involved?</td>
            <td>Older Driver Involved?</td>
            <td>Night/Dark Conditions?</td>
            <td>Single Vehicle?</td>
            <td>Distracted Driving?</td>
            <td>Drowsy Driving?</td>
            <td>Roadway Departure?</td>

        </tr>
    </thead>

    <tbody>
        @foreach (Accident a in Model.Accidents)
        {
            <partial name="AccidentSummary" model="a" />
        }

    </tbody>

</table>

@*Pagination Section*@

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        @if (Model.Pager.EndPage > 1)
        {
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li>
                        <a href="~/Home/SummaryData">First</a>
                    </li>
                    <li>
                        <a href="~/Home/SummaryData?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (var pagething = Model.Pager.StartPage; pagething <= Model.Pager.EndPage; pagething++)
                {
                    <li class="@(pagething == Model.Pager.CurrentPage ? "active" : "")">
                        <a href="~/Home/SummaryData?page=@(pagething)"> @(pagething) </a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li>
                        <a href="~/Home/SummaryData?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                    </li>
                    <li>
                        <a href="~/Home/SummaryData?page=@(Model.Pager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>