@page "/admin"


@model UtahAccidents.Pages.Admin.IndexModel
@{
}


<!DOCTYPE html>

<html>

    <title>Utah Accidents Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />


    <body>
        <p>Testing</p>
    </body>
</html>